<h2>Register your warrior</h2>
<form action="/warrior" method="post">
    <label>
        Imię: </br>
        <input type="text" name="name" minlength="3" maxlength="50"><br>
    </label>
    <label>
        Power: </br>
        <input type="number" name="power" value="1" min="1" max="10"><br>
    </label>
    <label>
        Defence: </br>
        <input type="number" name="defence" value="1" min="1" max="10"><br>
    </label>
    <label>
        Stamina: </br>
        <input type="number" name="stamina" value="1" min="1" max="10"><br>
    </label>
    <label>
        Agility: </br>
        <input type="number" name="agility" value="1" min="1" max="10"><br>
    </label>
    <button type="submit"> Register</button>
</form>